@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}



.nav_bg {
    width: 100%;
    height: 117px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.nav_items {
    padding-left: 50px;

}

header {
    width: 100%;
    height: 623px;
    background: url(../img/pexels-photo-356056.jpeg\ копия.png);
    background-size: cover;

    background-position: center center;

}

.header_text {
    width: 100%;
    height: 623px;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_title h1 {
    padding-top: 200px;
    text-align: center;
    font-size: 60px;
    letter-spacing: 3px;
    color: #fff;
    font-weight: 600;
    line-height: 60px;
}

#subtitle {
    font-size: 21px;
    letter-spacing: 1.5px;
    font-weight: 400;
}

.header_button {
    padding-top: 100px;


}

button {
    width: 209px;
    height: 60px;
    margin: 20px;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    background-color: rgba(0, 0, 0, .1);
}

#active {
    background-color: #00897b;
    border: 3px solid #00897b;
}

.about_title {
    width: 65%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    font-size: 15px;
}

h2 {
    padding-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 35px;
}

svg {
    width: 60px;
    height: 60px;
}

.card_about {
    padding-top: 80px;
    text-align: center;
    font-size: 15px;
}

.card-body h5 {
    font-size: 30px;
    font-weight: 500;
    padding: 20px;
}

.service_title {
    width: 65%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    font-size: 15px;
}

.card_block_1 {
    padding-top: 111px;
}

/* .service_card {
    width: 40px;
    height: 412px;
    background-color: #fff;
    border: 1px solid red;
    padding: -20px;
} */

.service_card {
    text-align: center;
    font-size: 14px;
    padding-top: 45px;
    border-style: none;
    margin-bottom: 30px;
}

.service_card h5 {
    font-size: 19px;
}

.button_service {
    width: 140px;
    height: 50px;
    border: 3px solid #212121;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    background-color: #fff;
}

.service_card:hover {
    background-color: #00897b;

    color: #fff;
    box-shadow: 1px -1px 10px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: 1px -1px 10px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 1px -1px 10px 6px rgba(0, 0, 0, 0.23);
}

.button_service:hover {
    border: 3px solid #fff;
    color: #fff;
    background-color: #00897b;
}























@media (max-width: 576px) {
    header {
        width: 100%;
        height: 506px;
        background: url(../img/pexels-photo-media.jpeg.png);
        background-size: cover;
        background-position: center center;
    }
}

.about {
    height: 638px;
    background-color: #fff;
}

.service {
    height: 1340px;
    background-color: #e4fdf9;
}

.contact {
    height: 1188px;
    background: url(../img/rawpixel-com-252127.png);
    background-size: cover;
    background-position: center center;
}

footer {
    height: 54px;
    background-color: #fff;

}

footer p {
    text-align: center;
}